@model Equipes

@{
    ViewData["Title"] = "Equipes";
}
<link rel="stylesheet" href="~/css/equipes.css">

<!-- MAIN -->


          <main>

    <section class="container-grid cadastro-equipes">

        @if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-controller="Login" asp-action="Index">Login</a>
}


else
{
    


        <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="frm-cad-equipe">
            <div class="cadequipe-titulo">
                <h1>Cadastro de Equipes</h1>
                <hr>
            </div>

            <input type="text" name="Nome" class="campo-entrada" placeholder="Digite o nome da sua equipe:">
            <label class="foto" for="foto-file">
                Nenhuma imagem selecionada...
                
            </label>
            <input input type="file" name="Imagem" id="foto-file">

            <button type="submite">Cadastro</button>
        </form>



        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Foto</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Equipes equipe in ViewBag.Equipes)
                {
                    <tr>
                        <td>@equipe.IdEquipes</td>
                        <td>@equipe.Nome</td>
                        <td><img src="/img/Equipes/@equipe.Imagem" alt="" width="50px"></td>
                        <td><a asp-area="" asp-controller="Equipes" asp-action="Excluir" asp-route-id="@equipe.IdEquipes"><img
                                    class="yellow-trash" src="~/assets/trash.png" alt=""></a>
                            <a asp-area="" asp-controller="Equipes" asp-action="Edit"
                                asp-route-id="@equipe.IdEquipes">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    
}


    </section>
</main> 












