@model Equipes

@{
    ViewData["Title"] = "Equipes";
}
<h1>Tela de equipes</h1>

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index" >Login</a>
}
else{
    <form method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <label for="">Nome</label>
    <input type="text" name="Nome">
    <label for="">Imagem</label>
    <input type="file" name="Imagem" placeholder="Insira sua imagem">
    

    <button type="submit">Cadastrar</button>
</form>









<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (Equipes equipe in ViewBag.Equipes)
        {
            <tr>
                <td>@equipe.IdEquipes</td>
                <td>@equipe.Nome</td>
                <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px"></td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Equipes" asp-action="Excluir" asp-route-id="@equipe.IdEquipes">Excluir</a>
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Equipes" asp-action="Edit" asp-route-id="@equipe.IdEquipes">Editar</a>
                </td>
            </tr>
        }

    </tbody>
</table>


}

